<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>BulSU Voting System</title>

    <link rel="stylesheet" type="text/css" href="admin/css/index-admin.css" />
    <link rel="stylesheet" type="text/css" href="admin/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="admin/css/election-reset.css" />

    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=upins:wght@400;700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <%- include('header') %>

    <div class="content">
      <%- include('sidebar', { activeTab: 'election' }) %>
      <main class="main">
        <div class="reset-election box-shadow">
          <form>
            <img src="../img/warning.png" class="image" alt="Reset Election Warning" />
            <h2>Are you sure you want to reset the current election?</h2>
            <br />
            <p>Enter Account Password:</p>
            <input type="text" id="super-admin-password" class="text-field" name="super-admin-password" />
            <br />
            <br />
            <p>Enter the Code Sent to Your Email:</p>
            <input type="text" id="email-code" class="text-field" name="email-code" />
            <br />
            <br />
            <div class="form-buttons">
              <input type="reset" value="Cancel" class="action-buttons cancel-button" /> &nbsp;&nbsp;&nbsp;&nbsp;
              <input type="submit" value="Confirm" class="action-buttons save-button" />
            </div>
          </form>
        </div>
      </main>
    </div>

    <%- include('footer') %>

    <script src="admin/js/sidebar.js"></script>
    <script src="admin/js/index-admin.js"></script>
    <script src="admin/js/dropdown.js"></script>
  </body>
</html>
