.page-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
}

.smart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 60%;
}

.blockchain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 60%;
}

.first-main hr {
  border: none;
  width: 100%;
  height: 0.3rem;
  background-color: #423a2c;
  opacity: 60%;
  text-align: center;
}

.main strong {
  color: black;
}

.currency {
  box-shadow: none;
  border-radius: 0;
  /* border: 1px solid black; */

  /* color: aqua; */
}

tr:nth-child(even) {
  background-color: #faf2db;
}

th,
td {
  border: 1px solid black;
}

th {
  background: #dbc390;
  color: black;
}

.left,
.right {
  padding: 1.5rem;
  /* border: 2px solid black; */
}

.first-main {
  gap: 2rem;
}

.first-main h2 {
  color: #451b9d;
  text-decoration: underline;

  /* border: 1px solid black; */
}

.indent {
  padding-left: 2rem;
}

.first-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.right-update {
  display: flex;
  justify-content: flex-end;
  /* border: 3px solid black; */
  width: 100%;
}

.update-date {
  display: flex;
  justify-content: center;

  /* border: 3px solid black; */
  width: 100%;
}

.left,
.right {
  flex: 1;

  flex-direction: column;
  padding: 1.5rem;
  flex-basis: 50%;
  max-width: 50%;
  /* border: 3px solid black; */
  justify-content: flex-start;
  align-items: flex-start;
  overflow-wrap: break-word; /* ensure words can wrap */
  word-wrap: break-word; /* older property for compatibility */
  white-space: normal;
}

.indent-ish {
  padding-left: 1rem;
}

.top {
  color: #885708;
}

.sub-highlight {
  font-weight: bold;

  color: #7c66b2;
}

.highlight {
  font-weight: bold;
  color: #e09f2f;
}

th {
  padding: 1rem;
}

td {
  padding: 1rem;
}

.small-text {
  font-size: 0.8rem;
}

.status {
  color: gray;
}

.balance-excellent {
  color: #0000ff; /* blue */
}

.balance-good {
  color: #00aa00; /* green */
}

.balance-warning {
  color: #ff9900; /* orange */
}

.first-main th {
  background-color: #ad9bd5;
}

.column-main {
  display: flex;
  flex-direction: column;
  background: #d8d1fa;
  border: 0.25rem solid #451b9d;
  padding: 2rem;
  border-radius: 1.5rem;
  margin: 2rem;
  max-width: 100%;
}

.total {
  display: flex;
  flex-direction: column;
  background-color: #a69fc8;
  border: 0.25rem solid #451b9d;
  padding: 2rem;
  border-radius: 1.5rem;
  margin: 2rem;
  max-width: 100%;
}
