.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #faf2db;
  /* border: 1px solid black; */
}

/* .title {
  display: flex;
  flex-direction: row;
  padding: 3rem;
} */

.indent {
  text-indent: 28rem;
}

.action-buttons {
  margin: 0.5rem;
}

.space {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  gap: 5rem;
  /* border: 1px solid black; */
}

/* .table-container {
    display: flex;
    flex-direction: column;
    width: 62.5rem;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    /* border:4px solid blue; */

/* table {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
  }
  
  table,
  th,
  td {
    border: 0.2em solid black;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    height: 8vh;
    text-align: center;
  }
  
  /* 
  table th {
    background-color: #a60212;
    color: white;
  } */
