.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #faf2db;
  /* border: 1px solid black; */
}

/* .title {
  display: flex;
  flex-direction: row;
  padding: 3rem;
} */

.indent {
  text-indent: 28rem;
}

.action-buttons {
  margin: 0.5rem;
}

.space {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.button-brown {
  margin-left: 50%;
}

.space input {
  margin-right: 3rem;
}

table {
  outline: 2px solid #0b287e;
}

th {
  background-color: #0b287e;
}

table,
th,
td {
  border: 0.1em solid #0b287e;
  border-collapse: collapse;
}

table {
  width: 100%;
  border-radius: 0;
}

table th,
table td {
  height: 8vh;
  text-align: center;
  padding: 1rem;
}

.table-container {
  border: 3px solid black;
}

.main-content {
  border: 3px solid black;
}

.right {
  /* border: 3px solid black; */
  text-align: right;
}

.pass {
  width: 10rem;
}

.modal-content {
  border: 0.2rem solid rgba(14, 13, 13, 0.5);
  padding: 2%;
  border-radius: 1em;
  background-color: #d8ac65;
  min-height: 60dvh;
  min-width: 60vw;
}

.center-content {
  width: 30%;
}

.right-content {
  width: 40%;
}

.left-content {
  width: 25%;
}

.form-title {
  color: #550c0a;
}
