:root {
  --background-light-yellow: #f2ddb4;
  --background-lighter-yellow: #faf2db;

  --height-main-header: 10vh;
  --width-main-left: 40%;
  --width-main-right: calc(100% - var(--width-main-left));
}

/* .main, .main-header, .main-content, .main-left, .main-right {
    border: 1px solid black;
} */

.main {
  display: flex;
  flex-direction: column;

  background-color: var(--background-lighter-yellow);
}

.main-header {
  display: flex;
  flex-direction: row;

  flex-basis: var(--height-main-header);
  min-height: var(--height-main-header);
  align-items: center;
  justify-content: center;
}

#text-blockchain-link {
  margin-left: 5%;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.main-left,
.main-right {
  background-color: var(--background-light-yellow);
  margin: 3%;
  border-radius: 2em;
  padding: 2%;
}

.main-left {
  width: var(--width-main-left);
}

.main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-main-right);
}

#chart-turnout {
  width: 100%;
}
