:root {
  --height-main-first: 20%;
  --height-main-second: 80%;
}

.header-nav-content {
  padding-left: 10rem;
}

.logo {
  height: 7rem;
  width: auto;
  opacity: 0.6;
}

.main-second {
  display: flex;
  flex-direction: column;
  flex-basis: var(--height-main-second);
  width: 50%;
  /* margin: ; */
  text-align: justify;
}

.proceed {
  width: 20%;
  padding: 1%;
  border-radius: 0.5em;
}

.center {
  text-align: center;
}

.yellow {
  color: #e1ae5b;
}
