:root {
  /* colors */
  --color-darkRed: #310505;
  --color-mediumRed: #550c0a;
  --color-lightRed: #a60212;
  --color-darkYellow: #f5ab29;
  --color-mediumYellow: #e1ae5b;
  --color-lightYellow: #f2ddb4;
  --color-lighterYellow: #faf2db;

  --color-darkGreen: #245414;
  --color-lightGreen: #5fb643;
  --color-darkBlue: #004aad;
  --color-lightBlue: #2c86fd;
  --color-gray: #323847;

  /* div content-main sizes */
  --width-content-main-left: 8vw;
  --width-content-center: calc(100vw - var(--width-content-main-left) - var(--width-content-main-right));
  --width-content-main-right: var(--width-content-main-left);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  background-color: var(--color-lighterYellow);
}

.color-medium-yellow {
  color: var(--color-mediumYellow);
}

#countdown,
#election-period,
#time-left,
.period,
.election-name {
  color: var(--color-darkYellow);
}

#be-heard,
#vote-now {
  color: var(--color-mediumYellow);
}

.content-main {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding-bottom: 2.5%;
  justify-content: center;
  align-items: center;
}

.content-main-left,
.content-main-right {
  display: flex;
  flex-basis: var(--width-content-main-left);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.content-main-center {
  display: flex;
  flex-basis: var(--width-content-main-center);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-main-right img,
.content-main-left img {
  width: 9rem;
}

.main-container {
  text-align: justify;
  width: 66%;
}

.countdown-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-darkYellow);
  font-weight: bold;
}

.time {
  font-size: 3.3rem;
  margin-bottom: 0.5em;
  padding: 0em 0.5em;
  background: radial-gradient(circle, #390606 20%, var(--color-mediumRed) 110%);
  border-radius: 0.2em;
  width: 7.5rem;
}

.button-rounded-yellow {
  padding: 1rem;
  border: none;
  border-radius: 1.8em;
  background: linear-gradient(#e1ae5b, #f5ab29);
  font-weight: bold;
  font-family: "Montserrat", Arial;
  position: relative;
  overflow: hidden;
}

.button-rounded-yellow::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 40%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 70%);
  animation: load89234 3s infinite linear;
}

@keyframes load89234 {
  0% {
    left: -40%;
  }
  100% {
    left: 120%;
  }
}

.button-rounded-yellow:hover {
  color: var(--color-lightRed);
  background: #f5ab29;
}

#get-ready-to-register,
.waiting-text {
  font-size: 1.5rem;
  margin-top: 3rem;
  color: #f2ddb4;
}

.content-mobile {
  display: none;
}

/* Mobile Responsive Design */
@media (max-width: 1000px) {
  body {
    max-height: 100dvh;
    overflow-y: hidden;
  }
  .content-main {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  .content-main-left,
  .content-main-right {
    flex-basis: 100%;
    padding: 1rem;
  }

  .content-main-center {
    flex-basis: 100%;
    width: 90%;
  }

  .content-main-right img,
  .content-main-left img {
    width: 6rem;
  }

  .main-container {
    width: 90%;
  }

  .countdown-timer {
    padding: 0rem 2rem;
    flex-direction: row;
    gap: 1rem;
  }

  #time-left {
    font-size: 1rem;
  }

  .time-box {
    padding: 0;
    margin: 0;
  }

  .time {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 4rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  #time-left {
    font-size: 1.2rem;
  }

  #register-button {
    margin-top: -2rem;
    margin-bottom: 0rem;
    width: 10rem;
  }
  #get-ready-to-register,
  .waiting-text {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .label {
    padding: 0;
    font-size: 0.6rem;
  }

  .button-rounded-yellow {
    width: 100%;
    text-align: center;
  }

  .content-main-right img,
  .content-main-left img {
    margin-top: -2rem;
    width: 3rem;
  }

  .content-main-left,
  .content-main-right {
    width: 50%;
  }

  .content-main-left #be-heard,
  .content-main-right #vote-now {
    font-size: 0.7rem;
  }

  .content-mobile {
    margin-top: -rem;
    display: flex;
    order: 4;
    align-items: start;
  }

  .no-mobile {
    display: none;
  }
}
