/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 1px solid #3f0807;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #3f0807;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--sidebar-color);
  border-radius: 10px;
  border: 1.2px solid #3f0807;
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-color-lighter);
}

:root {
  /* Colors */
  --color-darkRed: #310505;
  --color-mediumRed: #550c0a;
  --color-lightRed: #a60212;
  --color-darkYellow: #f5ab29;
  --color-mediumYellow: #e1ae5b;
  --color-lightYellow: #f2ddb4;
  --color-lighterYellow: #faf2db;
  --color-darkGreen: #245414;
  --color-lightGreen: #5fb643;
  --color-darkBlue: #004aad;
  --color-lightBlue: #2c86fd;
  --color-gray: #323847;
  --color-purple: #503a96;
  --sidebar-color-lighter: #d29c45;
  --sidebar-color: #e1ae5b;

  /* Layout sizes */
  --height-body: 100vh;
  --height-header: 16vh;
  --height-content: calc(100vh - var(--height-header) - var(--height-footer));
  --height-footer: 4vh;
  --width-header-logo: 26vw;
  --width-header-nav: calc(100vw - var(--width-header-logo));
  --width-header-nav-content: 50%;
  --height-content-title: 20%;
  --height-content-main: calc(100% - var(--height-content-title));
  --width-footer-side: 25vw;
  --width-footer-center: 50vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  background: radial-gradient(circle, var(--color-mediumRed), var(--color-darkRed));
  font-family: "Poppins", "Century Gothic";
  color: white;
  font-size: 1rem;
}

.header-nav-content li {
  list-style: none;
}

.header-nav-content a,
.header-nav-content li {
  color: var(--color-lightYellow);
  text-decoration: none;
  font-size: 1.2rem;
}
.header-nav-content {
  gap: 4rem;
}

/* Header */
.header {
  display: flex;
  flex-basis: var(--height-header);
  position: relative;
}

.header-logo {
  display: flex;
  flex-basis: var(--width-header-logo);
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
}

.header-logo img {
  width: 100%;
}

.header-nav {
  display: flex;
  flex-basis: var(--width-header-nav);
  justify-content: flex-end;
  align-items: center;
}

.header-nav-content {
  display: flex;
  flex-basis: var(--width-header-nav-content);
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1rem;
}

.header-bottom-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
  border-bottom: 0.28em solid var(--color-darkYellow);
}

/* Content */
.content {
  display: flex;
  flex-basis: var(--height-content);
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.content-title {
  display: flex;
  min-height: var(--height-content-title);
  align-items: center;
}

.date-period {
  color: var(--color-lightYellow);
}

/* Buttons */
.button-rounded-yellow {
  padding: 1rem;
  border: none;
  border-radius: 1.8em;
  background: linear-gradient(#e1ae5b, #f5ab29);
  font-weight: bold;
  font-family: "Montserrat", Arial;
}

.button-rounded-yellow:hover {
  color: var(--color-lightRed);
  background: #f5ab29;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  flex-basis: var(--height-footer);
  background-color: var(--color-lightRed);
  color: white;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  font-size: 0.5rem;
  flex-direction: row;
}

.footer-left {
  flex-basis: var(--width-footer-side);
  justify-content: flex-start;
  padding-left: 2rem;
}

.footer-center {
  flex-basis: var(--width-footer-center);
  justify-content: center;
}

.footer-right {
  display: flex;
  flex-basis: var(--width-footer-side);
  justify-content: flex-end;
  padding-right: 2rem;
}

.footer-img {
  height: 2.6vh;
  padding-right: 0.35rem;
}

#admin-img {
  padding-right: 0.25rem;
}

#copyright-img {
  height: 2.3vh;
}

.footer a {
  text-decoration: none;
  color: #529af8;
}

.header-nav-content {
  font-family: "Montserrat", Arial;
  font-weight: bold;
}

.header-nav-content a:hover {
  color: var(--color-darkYellow);
  font-weight: bold;
}

#active-link {
  color: var(--color-darkYellow);
}

.content-main {
  display: flex;
  flex-basis: var(--height-content-main);
  min-width: 80%;
  flex-grow: 1;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

/* Typography */
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  color: var(--color-lightYellow);
}

h4 {
  font-size: 1.3rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

footer p {
  font-size: 0.85rem;
}

/* Buttons */
button {
  cursor: pointer;
  border-style: outset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.06) 0px 2px 4px;
}

button:hover {
  background-color: var(--color-lightRed);
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  #election-period {
    font-size: 1.8rem;
  }

  .header {
    width: 100%;
    flex-direction: row;
    height: auto;
    height: 30dvh;
    justify-content: space-between;
  }

  .header img {
    width: 10rem;
  }

  .header-logo {
    flex-basis: auto;
    padding-left: 1rem;
  }

  .header-nav {
    flex-direction: row;
    flex-basis: auto;
  }

  .header-nav ul {
    flex-direction: row;
    list-style-type: none;
  }

  .header-nav ul li a {
    text-decoration: none;
  }

  .header-nav-content {
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
  }

  .content {
    padding: 0;
    margin: 0;
    height: 70dvh;
    width: 100%;
  }

  .content-title {
    padding: 0rem 2rem;
  }
  .content-main {
    margin: 0;
    padding: 0;
  }
  .content-main-left {
    order: 2;
  }
  .content-main-center {
    order: 1;
  }
  .content-main-center .date-period {
    font-size: 1rem;
  }
  .content-main-right {
    order: 3;
  }

  .content-title h3 {
    font-size: 1rem;
  }

  .content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
  }

  .footer {
    height: 10vw;
    flex-direction: row;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
  }

  .footer-right {
    display: none;
  }

  .footer img,
  #copyright-img {
    width: auto;
    height: 1rem;
  }

  .footer p {
    font-size: 0.6rem;
  }

  .header {
    justify-content: space-between;
  }

  .header-nav {
    font-size: 0.8rem;
    padding-right: 5%;
  }

  .content-main,
  .footer {
    justify-content: center;
  }
}
