<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voting System</title>

    <link rel="stylesheet" type="text/css" href="voter/css/index_voter.css">
    <link rel="stylesheet" type="text/css" href="voter/css/review.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="header-logo">
            <img src="img/logo_tanikala.png" alt="Tanikala Voting System" />
        </div>
        <nav class="header-nav">
            <ul class="header-nav-content">
                <li><a href="/vote">Vote</a></li>
                <li><a href="/review" id="active-link">Review</a></li>
                <li><a href="verify.html">Verify</a></li>
            </ul>
        </nav>
        <div class="header-bottom-line"></div>
    </header>

    <div class="content">
        <div class="content-header">
            <div class="content-header-bulsu">
                <img src="img/logo_bulsu.png">
            </div>
            <div class="content-header-text">
                <h1>BulSU Student Government Elections<br>S.Y. 2025 - 2026</h1>
            </div>
            <div class="content-header-ucse">
                <img src="img/logo_bulsu_ucse.png">
            </div>
        </div>

        <div class="content-main">
            <div class="review">
                <br>
                <h3 class="blue-background">Vote Summary</h3>
                <br>
                <h3 class="red-background">BulSU Supreme Student Council S.Y. 2025-2026</h3>
                <br>
                <ul>
                    <li><b>President:</b> <span></span></li>
                    <li><b>Vice President</b></li>
                </ul>
            </div>
        </div>


        <div class="footer">
            <div class="footer-left">
                <p>OCTOBER 23, 2024 - 04:17 AM</p>
            </div>
            <div class="footer-right">
                <p>© 2024 - Fourmula 1</p>
            </div>
        </div>

        <script>
        </script>

</body>

</html>