<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TANIKALA Voting System</title>

    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/otp-verification.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header-logo">
        <img src="img/logo_tanikala.png" alt="Tanikala Voting System" />
      </div>
      <div class="header-bottom-line"></div>
    </header>

    <div class="content">
      <div class="content-title">
        <h3 class="h3">ONLINE VOTING SYSTEM FOR THE STUDENT GOVERNMENT ELECTIONS AT BULACAN STATE UNIVERSITY</h3>
      </div>

      <div class="content-main">
        <div class="card">
          <i class="fa-solid fa-envelope"></i>
          <br />

          <h2 class="blue">User Verification</h2>
          <br />
          <p>
            One Time Password (OTP) has been sent via email to <span><%= email %></span>. <br />
            <br />
            Enter the OTP below to verify it.
          </p>
          <br />
          <form action="/verify-otp" method="POST">
            <input type="tel" name="otp" inputmode="numeric" pattern="\d{6}" maxlength="6" placeholder="Enter OTP" class="otp-field" required />
            <br />
            <button id="resend-btn" type="submit">Submit OTP</button>
          </form>

          <br />

          <span id="timer"></span>
          <form action="/resend-otp" method="POST" style="margin-top: 20px">
            <button type="submit" id="resend-btn" disabled style="cursor: not-allowed">Resend OTP</button>
          </form>
        </div>
      </div>
    </div>

    <script src="js/index.js"></script>

    <!-- put in index.js file -->
    <script>
      // Set up a 30-second timer
      let timeLeft = 30;
      const resendButton = document.getElementById("resend-btn");
      const timerDisplay = document.getElementById("timer");

      // Function to update the timer display
      function updateTimer() {
        if (timeLeft > 0) {
          timerDisplay.textContent = `Resend OTP in ${timeLeft} seconds`;
          timeLeft--;
        } else {
          timerDisplay.textContent = "";
          resendButton.disabled = false; // Enable resend button after 30 seconds
        }
      }

      // Initial call to start the timer
      setInterval(updateTimer, 1000);
    </script>
  </body>
</html>
