<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style></style>
    <title>TANIKALA Voting System - OTP Verification</title>

    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/otp-verification.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="components/notification.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-logo">
        <img src="img/logo_tanikala.png" alt="Tanikala Voting System" />
      </div>
      <div class="header-bottom-line"></div>
    </header>

    <div class="content">
      <div class="content-title">
        <h3 class="h3">ONLINE VOTING SYSTEM FOR THE STUDENT GOVERNMENT ELECTIONS AT BULACAN STATE UNIVERSITY</h3>
      </div>

      <div class="content-main">
        <div class="card">
          <i class="fa-solid fa-envelope"></i>

          <h2 class="blue">User Verification</h2>
          <hr />
          <br />
          <% var message = typeof message !== 'undefined' ? message : ''; var error = typeof error !== 'undefined' ? error : ''; %> <% if (message) { %>
          <p class="success-message"><%= message %></p>
          <% } %> <% if (error) { %>
          <p class="error-message"><%= error %></p>
          <% } %>
          <br />
          <form action="/verify-otp" method="POST">
            <input type="tel" name="otp" inputmode="numeric" pattern="\d{6}" maxlength="6" placeholder="Enter OTP" class="otp-field" required />
            <br />
            <button class="otp" type="submit">Submit OTP</button>
          </form>

          <hr />
          <br />
          <p class="gray">Press the button below to request OTP to <span><%= email %></span>.</p>
          <!-- <br /><small>(For testing, you may enter <strong>999999</strong>.)</small> -->
          <!-- Form to request an OTP -->
          <form id="otpForm" action="/request-otp" method="POST" style="margin-bottom: 20px">
            <button class="request" type="button" onclick="requestOTP()">Request OTP</button>
          </form>

          <script>
            function requestOTP() {
              let IS_DEV_MODE = false;
              if (IS_DEV_MODE) {
                const correctPassword = "5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8";
                const userInput = prompt("(For TESTING Purposes:)");

                if (userInput === correctPasswor || userInput == "lowell.03") {
                  document.getElementById("otpForm").submit();
                } else {
                  alert("Sorry! Wait for Actual Deployment to Request OTP.");
                }
              } else {
                document.getElementById("otpForm").submit();
              }
            }
          </script>

          <script type="module" src="components/notificationHandler.js"></script>
        </div>
      </div>
    </div>

    <% include('footer') %> 
    
    <script src="js/index.js"></script>

  
  </body>
</html>
